body
{
    font-family: helvetica, sans-serif;
    
    
}

input
{
    height: 40px;
    padding: 5px 5px ;
    font-size: 25px;
    border-radius: 12px;
    border: 1.5px solid grey;
    width: 300px;
    margin-bottom: 10px;
}

label
{
    position: relative;
    top: 9.5px;
    float: left;
    font-size: 140%;
    width: 220px;
    margin-bottom: 10px;
}
#wrapper
{
    width:520px;
    margin: 0 auto;
}
#submit
{
    width: 300px;
    margin-left: 220px;
}
#error, #missing
{
    font-size: 90% !important;
    display: none;
    
}
#msg
{
    margin-top: 40px;
    text-align: center;
}