<!DOCTYPE html>
<html lang="en">
  <link rel = "icon" href = "https://sdk.bitmoji.com/me/sticker/1V4oJlZKBZVEMUZIqrkpkyATyVeig0bGqzyNqTVZDdeV~zJVLPvWzA/20053964.png?p=dD1wO3Y9cG9wdWxhcjtsPXRyX1RS.v1&size=thumbnail" type = "image/x-icon">
  {% include head.html %}
  <body>
    <!-- <script async src="https://cse.google.com/cse.js?cx=a1629014d30b84958">
    </script>
    <div class="gcse-searchbox-only"></div> -->
    <main>
      {% include header.html %} {% include bio.html %}
      <section class="articles">
        {% for post in site.posts %}
        <article  onclick="location.href='{{site.baseurl}}{{post.url}}';"  class="article">
          <h2  class="article-title">
            <a href="{{site.baseurl}}{{post.url}}"> {{post.title}} </a>
          </h2>
          <small class="date">{{post.date | date_to_string}}</small>
          <div class="categories">
            {% for c in post.categories %}
            <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </article>
        {%endfor%}
      </section>
      <div style="display: flex; justify-content: center; margin: 20px;">
      <article>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7vKu12JceCXjQMwVWFsEnI?utm_source=generator&theme=0"  height="410" width="100%" frameBorder="0"  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy" autotransparency="true"></iframe>
      </article>
      </div>
      {% include footer.html %}
      {% include extras.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
