<!DOCTYPE html>
<html lang="en">
  <link rel = "icon" href = "https://sdk.bitmoji.com/me/sticker/1V4oJlZKBZVEMUZIqrkpkyATyVeig0bGqzyNqTVZDdeV~zJVLPvWzA/20053964.png?p=dD1wO3Y9cG9wdWxhcjtsPXRyX1RS.v1&size=thumbnail" type = "image/x-icon">
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <small class="date">{{page.date | date_to_string}}</small>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>

  <script src="/assets/scripts/copyCode.js"></script>
</html>
